<%= form_tag '/email/send_email', id: 'emailForm', target: '_top', remote: is_remote do %>
    <div class="form-inner">
      <div class="field_text">
        <label for="email" class="label_title">E-mail</label>
        <input type="text" name="email" id="email" class="required" value="" placeholder="mymail@mymail.com" hidefocus="true" style="outline: none;">
        <span class="input_icon input_email"></span>
      </div>
      <div class="field_text">
        <label for="subject" class="label_title">Тема письма</label>
        <input type="text" name="subject" id="subject" value="" placeholder="Можно добавить тему письма" class="inputtext input_middle" hidefocus="true" style="outline: none;">
      </div>
      <div class="clear"></div>
      <div class="field_text field_textarea">
        <label for="message_text" class="label_title">Сообщение</label>
        <textarea cols="30" rows="10" name="message_text" id="message_text" placeholder="Введите ваше сообщение тут" class="textarea textarea_middle required" hidefocus="true" style="outline: none;"></textarea>
      </div>
      <div class="clear"></div>
    </div>

    <div class="rowSubmit clearfix">
      <span class="btn"><input type="submit" id="send" value="Отправить" hidefocus="true" style="outline: none;" class="btn-block gradient"></span>
    </div>
    <input type="hidden" name="partner_site_url" id="partnerSiteUrl" value="">
    <input type="hidden" name="partner_header_id" id="partnerHeaderId" value="">
<% end %>