<div class="embed-form widget-container boxed">
  <div class="inner">
    <div id="email_tab" class="tab-pane fade in active write-email styled ">

      <div id="send_email_form" class="send-email-form">
      <%= render partial: 'form', locals: {is_remote: false} %>
        </div>
      </div>
  </div>
</div>

<script>
  $('#partnerSiteUrl').val(document.referrer.split('?')[0]);
</script>