<% unless params[:url].blank? %>
    <iframe src="https://fathomless-caverns-4713.herokuapp.com/iframe?url=<%= params[:url]  %>" scrolling="no" width="100%" height="0" style="overflow: visible;">
      Фреймы не поддерживаются
    </iframe>
<% end %>
<div class="container container-wide">

  <div class="content " role="main">
    <div class="row">

      <div class="col-sm-4 col-sm-offset-4">
        <div class="tabs_framed styled widget-email">
          <ul class="tabs clearfix">
            <li class="active"><a href="#email_tab" data-toggle="tab">E-mail</a></li>
            <li><a href="#code" data-toggle="tab">Код формы</a></li>
          </ul>

          <div class="tab-content boxed clearfix">
            <div id="email_tab" class="tab-pane fade in active write-email styled ">

                <div id="send_email_form" class="send-email-form">
                  <%= render partial: 'form', locals: {is_remote: true} %>
                  <% unless params[:url].blank? %>
                      <div id="emailNotify" class="email-notify clearfix">
                        Ваше письмо было отправлено на <%= params[:mail_to] %>. Теперь Вы можете отправить еще одно.
                      </div>
                  <% end %>
                </div>
            </div>
            <div class="tab-pane fade styled code" id="code">
              <h6>Скопируйте этот код</h6>
              <div class="well well-sm">
                <samp><%= '<iframe src="https://fathomless-caverns-4713.herokuapp.com/form" scrolling="no" width="100%" height="480" frameborder="0" headerId="header" >Фреймы не поддерживаются</iframe>' %>
                </samp>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>