var text = '';
if($('#emailNotify')[0]) {
    text = 'Еще одно Ваше письмо было отправлено. На этот раз на <%= params[:email] %>. ';
    $('#emailNotify').slideUp().remove();
}
else {
    text = 'Ваше письмо было отправлено на <%= params[:email] %>. ';
}
var $div = $('<div id="emailNotify" class="email-notify clearfix">' + text + 'Теперь Вы можете отправить еще одно. </div>');
$('#send_email_form').append($div);
$div.hide().slideDown();