<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="ru" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="ru" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="ru" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="ru" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ru" class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Форма</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]><%= javascript_include_tag 'respond', 'data-turbolinks-track' => true %><![endif]-->
  <!--[if gte IE 9]>
      <style type="text/css">
          .gradient {filter: none !important;}
      </style>
  <![endif]-->
</head>
<body <%= action_name == 'form' ? "style='background: none;'".html_safe : '' %>>

<%= yield %>

</body>
</html>
